{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css') }}">
{% endblock %}

{% block header %}

    <header class="header">
        <div class="logo">
            <p>training PHP</p>
        </div>
        <div class="nav-bar">
            <ul class="nav-menu">
                <li><a class="link" href="{{ path('home_page') }}">home page</a></li>
                <li><a class="link" href="{{ path('app_review_page') }}">add a review</a></li>
                <li><a class="link" href="#">user</a></li>
                <li><a class="link" href="{{ path('app_register') }}">sing up</a></li>
            </ul>
        </div>
    </header>

{% endblock %}

{% block body %}


    <h4 class="h4 mb-3 font-weight-normal login_h4">Please sign in</h4>

    <div class="login_container">

        <form class="login_form" method="post">

            <div class="form-group">
                <label for="username"><i class='bx bx-envelope'></i></label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
                <label for="password"><i class='bx bx-lock-alt'></i></label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" placeholder="Password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>

        </form>
    </div>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

{% endblock %}
