{% extends 'base.html.twig' %}

{% block title %}review page{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/index.css') }}">{% endblock %}

{% block body %}
    <header class="review-header">
        <div class="review-logo">
            <p>routing PHP</p>
        </div>
        <div class="review-nav-bar">
            <a class="review-link" href="{{ path('home_page') }}">main page</a>
        </div>
    </header>
    <h1>Leave a Review</h1>

    {{ form_start(form, {'attr': {'class': 'review-form'}}) }}
    {{ form_row(form.userName, {'attr': {'class': 'review-form-control'}}) }}
    {{ form_row(form.subject, {'attr': {'class': 'review-form-control'}}) }}
    {{ form_row(form.text, {'attr': {'class': 'review-form-control'}}) }}
    {{ form_row(form.evaluation, {'attr': {'class': 'review-form-control'}}) }}
    <button class="review-submit" type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
