{% extends 'base.html.twig' %}

{% block title %}admin review{% endblock %}

{% block header %}
    <header class="header">
        <div class="logo">
            <p>admin page</p>
        </div>
        <div class="nav-bar">
            <ul class="nav-menu">
                <li class="link link_toggle" id="link_toggle">user</li>
                <li><a class="link" href="{{ path('app_admin') }}">admin</a></li>
            </ul>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="slide_menu" id="slide_menu">
        <div class="slide_menu_header">
            <div class="photo"></div>
            <span id="closeButton" class="close">&times;</span>
        </div>
        <div class="slide_menu_info">
            <p>Status: {% if app.user %} Authorized {% else %} Not Authorized {% endif %}</p>
            <p>Email: {% if app.user %}{{ app.user.email }}{% endif %}</p>
            <p>Role:{% if app.user %}
                    {% for role in app.user.roles %}
                        {{ role }}
                    {% endfor %}
                {% endif %}
            </p>
            <p><a class="logout" href="{{ path('app_logout') }}">Logout</a></p>
        </div>
    </div>
    <section class="admin-container">
        {% for review in reviews %}
            <div class="admin-review">
                <div class="admin-user-name admin-review-column"><strong>User:</strong> {{ review.userName }}</div>
                <div class="admin-subject admin-review-column"><strong>Subject:</strong> {{ review.subject }}</div>
                <div class="admin-text admin-review-column">{{ review.text }}</div>
                <div class="admin-evaluation admin-review-column"><strong>Evaluation:</strong> {{ review.evaluation }}</div>

                <form action="{{ path('app_review_admin') }}" method="post">
                    <input type="hidden" name="id" value="{{ review.id }}">
                    <input class="admin-user-name admin-review-column" type="text" name="userName" value="{{ review.userName }}">
                    <input class="admin-subject admin-review-column" type="text" name="subject" value="{{ review.subject }}">
                    <input class="admin-text admin-review-column" type="text" name="text" value="{{ review.text }}">
                    <input class="admin-evaluation admin-review-column" type="text" name="evaluation" value="{{ review.evaluation }}">
                    <input class="admin-edit" type="submit" value="Save">
                </form>
            </div>
        {% endfor %}
    </section>
{% endblock %}
